.error{
    background: orangered;
    color: #fff;
    padding: 5px;
    margin: 5px;
} 

.page__daccueil{
    max-width: 1500px;
    margin-left: 5%;
    margin-right: 5%;
}
/* header */
/* nav{
    margin-bottom: 5%; 
} */

/* Carroussel */
.d-block{
    object-position:center;
    object-position: right;
    height: 40%;
}

img{
    width: 300px;
    height: 20rem;
    object-fit: cover;
}



ul a{
    text-decoration: none;
    color: black;
}

ul{
    margin-top: 10%;
}

.card{
    max-width: 540px;
}

.card-title{
    font-weight: bold;
}

.card-price{
    text-align: right;
}

/* Footer */

.img__cartedepayement{
    width: 150px;
    height: 100px;
}

.cartesdespayements{
    margin-bottom: 2%;
}

/* .cartesdespayements{
    display: flex;
    margin-right: 5%;
} */

/* Page produits */
.img-fluid{
    height: 100% !important;    
    object-fit: unset;
}

.page__produit{
    max-width: 1200px;
    margin-left: 5%;

}

.container__produit{
    margin-top: 5%;
}


.photo-panier{
    width: 50px;
    height: 50px;
}